*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 30px auto;
    width: 450px;
    height: 250px;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgba(66, 99, 245, 0.789);
    overflow: hidden;
    box-shadow: 5px 5px 50px rgb(144, 140, 210);

}
.tab{
    overflow: hidden;
    padding: 5px;
    border-bottom: none;
    /* background-color: #f1f1f1; */
    display: flex;
    justify-content: space-around;
   

}

.tab button  {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(36, 241, 122);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 1s;
    box-shadow: 5px 5px 20px rgb(143, 210, 140);
    
}

.tab button:hover {
    background-color: rgb(255, 255, 255);
    color:bisque;
    scale: 1.5;
}

.tab button.active {
    background-color: rgb(200, 254, 7);
}

.tabcontent {
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 10px;
    padding-top: 20px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 20px;
    padding-top: 20px;
    border-top: none;
}

.name p{

    text-align: left;
    border-bottom: 2px solid rgb(165, 164, 164)
}
.acount p{
    text-align: center;
    border-bottom: 2px solid rgb(165, 164, 164);
}