*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.page{
    width: 80%;
    max-width: 1200px;
    min-height: 100px;
    padding: 40px;
    color: blue;
    margin: 0px auto;
    
}
.about-me{
    
    background-color: rgb(3,100,30);
}
    .hobbies img{
      background-color: rgba(255, 234, 167,0.4);
  }
.hobbies img{
  width: 200px;
  height: 300px;
object-fit: cover;
object-position: center;
}
.work{
    
    background-color: #74b9ff;
}