*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    max-width: 1110px;
}
.nav_menu{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 100%;
    height: 90px;
}
.logoimg {
    background-color: rgb(242, 61, 61);
    width: 150px;
    height: 90px;
    padding: 24px;
}
.nav_btn{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; 
    color: black;
}
.btn{
    font-size: 16px;
    font-family: 'Ubuntu-Bold', sans-serif;
    padding: 10px;
    color: black;
    text-align: center;
}
.body{
    background-color: aqua;
    width: 100%;
    height: 700px;
}
.body{

    display: flex;
    justify-content: center;
    transition:  border-radius, transform;
    transition-timing-function: cubic-bezier(0, -1.84, 1, 3.31, 2.06);
    
}
.body img{
  
    width: 700px;
    height: 300px;
}
.body :hover{
transform: rotate(360deg);
    width: 150px;
    height: 100px;
transition-duration: 2s;
border-radius: 50%;
box-shadow: 10px 10px 50px black;

}